/*font-family: 'Fira Code', monospace;
font-family: 'Roboto', sans-serif;
*/
:root{
    --background:#021524;
    --backgroundcontainer:#091f30;
    --colorblue:#0e61a1;
    --bluetext: #347CF8;
    --yellowText:#FFCA3A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--bluetext), var(--backgroundcontainer));
    border-radius: 4px;
}
.main{
    width: 100%;
    min-height: 100vh;
    max-height: 1200px;
    position: relative;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.cardmain{
    width: 57%;
    height: 400px;
    background-color: var(--backgroundcontainer);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(221, 220, 220, 0.692);
}
.containernav h2{
    font-family: 'Fira Code';
    font-size: 27px;
}
nav{
    width: 100%;
    height: 80px;
    border-bottom: 3px solid white;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
    background-color: var(--colorblue);
}
ul{
    margin-top: 10px;
    list-style-type: none;
}
ul li{
    padding-right: 10px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
}
.contain{
    width: 100%;
}
.cardcontain{
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.containavatar img{
    width: 250px;
    height: 250px;
}
.containdescription{
    text-align: center;
}
.title{
    margin: 3px;
    font-size: 45px;
    color: var(--bluetext)
}
.remark{
    margin: 3px;
    color: var(--yellowText);
}
.name{
    margin: 3px;
    color: var(--bluetext);
    font-size: 30px;
}
.socialnetworks{
    display: block;
    width: 68%;
    margin: 0 auto;
}
.socialnetworks img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.wave{
    position: absolute;
    bottom: 0;
    z-index: -10;
    background-image: url(../resources/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
/*Sobre mi*/
.about-me{
    color: white;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
}
.content{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.divdescription{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}
.about-title{
    text-align: center;
   font-size: 40px;
   color: var(--yellowText);
}
.about-description{
    font-size: 20px;
    margin-top: 20px;
}

/*Skills*/

.about-grid h3{
    margin-top: 20px;
    font-size: 30px;
}
.container-skills{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    justify-content: center;
}
.figure-skills img{
    width: 100px;
    height: 100px;
}


/*Project*/
.section-project{
    width: 100%;
    min-height: 100vh;
    color: white;
}
.container-cards-grid{
    margin: 30px auto 0;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-items: center;
}
.card{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    background-color: whitesmoke;
}
img{
    border-radius: 1rem 1rem;
    width: 100%;
    height: 200px;
}

.contain-description p{
    margin-top: 10px;    
    text-align: center;
    font-size: 14px;
    color: black;
}
.contain-description p a{ 
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
}
/*QUERYS */

@media screen and (max-width: 1100px) {
    .container-social{
        width: 65%;

    }

    .containercenter{
        width: 80%;
    }
    .card{
        width: 200px;
        height: 200px;
    }
    img{
        border-radius: 1rem 1rem;
        width: 100%;
        height: 100px;
    }
    .contain-description p{
        margin-top: 10px;    
        text-align: center;
        font-size: 12px;
        color: black;
    }
    .contain-description p a{ 
        text-decoration: none;
        font-family: inherit;
        font-size: 16px;
    }
    .about-description{
        font-size: 12px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 950px){
    .cardmain{
        width: 80%;
    }
    .cardcontain{
        display: block;
        text-align: center;
    }
    .socialnetworks{
        text-align: center;
    }
    .containavatar img{
        width:170px;
        height: 170px;
    }
    .title{
        margin: 3px;
        font-size: 35px;
        color: var(--bluetext)
    }
    .remark{
        margin: 3px;
        color: var(--yellowText);
    }
    .name{
        margin: 3px;
        color: var(--bluetext);
        font-size: 20px;
    }
    ul li{
        padding-right: 5px;
        margin: 0;
    }
    a{
        font-size: 20px;
    }
}
@media screen and (max-width: 800px){
    .body{
        display: block;
        height: 300px;
        text-align: center;
    }
    .container-social{
        width: 70%;
        justify-content: center;
        margin: 0 auto;
    }
    .avatar{
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    ul li{
        padding-right: 5px;
        margin: 0;
    }
    a{
        font-size: 15px;
    }
    .nav-menu{
        width: 90%;
        text-align: center;
    }
    nav{
        width: 100%;
    }
    .logo{
        color: white;
        font-size: 30px;
    }
    .listmenu{
        font-size: 12px;
    }
    .container-cards-grid{
        grid-template-columns: 1fr;
    }
    .card{
        width: 40%;
        height: 210px;
        margin: 0 auto 20px;
    }
    img{
        border-radius: 1rem 1rem;
        width: 100%;
        height: 130px;
    }
    .contain-description p{
        margin-top: 5px;    
        text-align: center;
        font-size: 12px;
        color: black;
    }
    .contain-description p a{ 
        text-decoration: none;
        font-family: inherit;
        font-size: 16px;
    }

    .figure-skills img{
        width: 70px;
        height: 70px;
    }
    
}
@media screen and (max-width: 500px){
    .title{
        margin: 3px;
        font-size: 25px;
        color: var(--bluetext)
    }
    .remark{
        margin: 3px;
        color: var(--yellowText);
    }
    .name{
        margin: 3px;
        color: var(--bluetext);
        font-size: 15px;
    }
    .containavatar img{
        width: 190px;
        height: 190px;
    }

    .card{
        width: 70%;
        height: 200px;
        margin: 0 auto 20px;
    }

    ul li{
        padding-right: 5px;
        margin: 0;
    }
    a{
        font-size: 12px;
    }
}

@media screen and (max-width: 350px){
    ul li{
        padding-right: 5    px;
        margin: 0;
    }
    a{
        font-size: 13px;
    }
    .contain-description p{
        font-size: 10px;
    }
}